<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'age'|trans }}: {{ user.age }}</p>
    <p>{{ 'Famille'|trans }}: {{ user.famille }}</p>
    <p>{{ 'Race'|trans }}: {{ user.race }}</p>
    <p>{{ 'Nourriture'|trans }}: {{ user.nourriture }}</p>
    <a href="/relation">Retour</a>



</div>
